$win-color: #0b871f;
$finish-color: #ee9906;
$lose-color: #d51505;

.Frame {
  width: 106px;
  border-width: 1px;
  border-style: solid;
  margin: 2px;
  padding: 4px;
  background-color: #eaeaea;
}
.Frame.activatedFalse {
  opacity: 0.08;
}
.Frame.activatedFalse > * {
  cursor: default;
}
.Frame.Win,
.finishCombination.Win {
  border-color: $win-color;
}
.Frame.Finish,
.finishCombination.finish {
  border-color: $finish-color;
}
.Frame.Lose,
.finishCombination.Lose {
  border-color: $lose-color;
}

.playerFinalityButton {
  width: 32px;
  height: 32px;
  top: 0px;
  right: 0px;
  margin: 4px;
  border-width: 1.2px;
  border-color: grey;
  background-size: 29.6px;
}
.playerFinalityButton.Win {
  background-image: url("../../assets/pictures/crown.png");
}
.playerFinalityButton.Finish {
  background-image: url("../../assets/pictures/flag.png");
}
.playerFinalityButton.Lose {
  background-image: url("../../assets/pictures/skull.png");
}

.openOutsButton {
  height: 21px;
  width: 15px;
  background-size: 15px;
  border-width: 0.5px;
}
.combinationLabel {
  font-size: 13px;
  top: 47px;
}
.finishCombination {
  top: 72px;
  width: 96px;
  height: 20px;
  font-size: 12px;
}
.statNumber {
  bottom: 0px;
  font-size: 23px;
  margin-bottom: 6px;
  margin-left: 8px;
  margin-right: 8px;
  width: 80px;
}
button,
select,
option {
  cursor: pointer;
}
.namePlayer {
  font-weight: bold;
}
