.Main {
  width: 911px;
  height: 685px;
  position: relative;
}
.background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-refresh {
  top: 148px;
  left: 395px;
  position: absolute;
  background-color: rgba(7, 40, 73, 1);
  border-color: rgba(7, 40, 73, 1);
}
.btn-refresh.btn-primary:hover {
  background-color: rgb(21, 91, 161);
}
.precision-box .dropdown-toggle {
  top: -60px;
  left: 12px;
  position: absolute;
  opacity: 0.8;
}
.surrondedText {
  height: 28px;
  background-color: rgba(7, 40, 73, 0.8);
  display: inline-flex;
  border-radius: 10px;
  padding: 4px 6px;
  .title {
    font-size: 14px;
    color: white;
  }
  select {
    font-size: 14px;
    color: white;
    background-color: rgba(7, 40, 73, 0.7);
  }
}
.precisionSelected {
  background-color: rgb(183, 183, 183);
}
