.table {
  display: inline-flex;
  background-color: rgba(156, 157, 156, 0.5);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  width: fit-content;
  top: 356px;
  left: 331px;
  padding: 6px;
}
.selectButton {
  background-image: url("../../assets/pictures/activ.png");
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.table button {
  margin: 4px;
}
.table > .card {
  z-index: 1;
}
.table > .marge {
  width: 17px;
}
.activatedFalse {
  opacity: 0.4;
}
