$base-color: rgba(7, 40, 73, 0.6);

.Tooltip {
  display: inline-flex;
  border: 1px solid $base-color;
  width: 911px;
  padding: 3px;
  padding-left: 30px;
  background-color: $base-color;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  left: 0px;
  bottom: 0px;
}
.marge {
  width: 50px;
}
